* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.6rem;
}

.has-child {
  position: relative;
}

.align-center {
  display: flex;
  align-items: center;
}

.mr-14px {
  margin-right: 14px;
}

@font-face {
  font-family: "baron";
  src: url(BaronNeueItalic.otf) format("opentype");
}
.header__topbar {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #fff;
}
.header__topbar-link {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}
.header__topbar-icon {
  font-size: 1.6rem;
  color: #EA8025;
}
.header__topbar-descript {
  color: rgba(0, 0, 0, 0.6);
}
.header__topbar-descript:hover {
  color: #EA8025;
}

.header__navbar {
  height: 60px;
  display: flex;
  align-items: center;
}
.header__navbar-link {
  display: block;
}
.header__navbar-logo {
  height: 15.5px;
  width: 200px;
}
.header__navbar-wrap {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99;
  border-bottom: 1px solid #ccc;
}

.navbar-menu {
  display: flex;
}
.navbar-menu__list {
  margin-left: 75px;
}
.navbar-menu__items {
  padding: 19px 10px 19px;
  display: inline-block;
}
.navbar-menu__link {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  color: #000;
  font-weight: 700;
}
.navbar-menu__link:hover {
  color: #EA8025;
}
.navbar-menu__icon {
  font-size: 1rem;
}
.navbar-menu__child {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  display: none;
}
.navbar-menu__lv2-item {
  flex: 1;
  padding: 12px 24px;
}
.navbar-menu__child-link {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
  border-bottom: 2px solid #000;
}

.slider {
  transform: translateY(-60px);
}
.slider__link {
  display: block;
}
.slider__img {
  width: 100%;
}

.menu__content {
  padding-bottom: 86px;
}

.product__container {
  display: flex;
  flex-wrap: wrap;
}

.menu__banner {
  width: 570px;
  height: 370px;
}
.menu__banner-container {
  flex: 0 0 calc(50% - 30px);
  margin: 0 15px 40px;
}
.menu__banner-link {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.1215686275);
}

.menu__item-container {
  width: 25%;
}

.menu__item {
  width: 270px;
  height: 270px;
}
.menu__item-container {
  flex: 0 0 calc(25% - 30px);
  margin: 0 15px 40px;
}
.menu__item-link {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2509803922);
  text-decoration: none;
  color: #000;
}
.menu__item-banner {
  width: 100%;
  height: 100%;
}
.menu__item-info {
  margin-top: 16px;
}
.menu__item-text {
  font-size: 1.6rem;
  line-height: 1.3rem;
  color: #000;
}
.menu__item-text:hover {
  color: #EA8025;
  cursor: pointer;
}
.menu__item-price {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.cloudfee {
  padding: 48px 0 45px 0;
  background: url("../img/cloudefee.png") top center/cover no-repeat;
}
.cloudfee__title {
  font-size: 96px;
  color: #7D5230;
  text-align: center;
  line-height: 1;
  margin-bottom: 8px;
  font-family: "baron";
}
.cloudfee__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.cloudfee__body {
  display: flex;
  align-items: center;
}
.cloudfee__img {
  width: 49%;
  flex: 0 0 49%;
}
.cloudfee__img--right {
  order: 2;
}
.cloudfee__info {
  width: 49%;
  flex: 0 0 49%;
}
.cloudfee__info-subtitle {
  font-size: 24px;
  color: #7D5230;
  font-family: "baron";
}
.cloudfee__info-heading {
  color: #7D5230;
  font-size: 80px;
  margin: 0 0 16px 0;
}
.cloudfee__info-des {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.cloudfee__info-link {
  font-size: 16px;
  display: block;
  background-color: #EA8025;
  max-width: 282px;
  text-align: center;
  border-radius: 8px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
}

.text-container {
  max-width: 824px;
  margin: auto;
  padding: 0 16px 32px;
}

.branch {
  width: 100%;
  height: 556px;
  padding: 44px 0 52px 0;
  background-color: #fff;
}
.branch__info {
  padding-left: 100px;
}
.branch__name {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 600;
  color: #000;
  max-width: 75%;
}
.branch__text {
  font-size: 16px;
  color: #000;
  opacity: 0.8;
  max-width: 75%;
  max-height: 115px;
  line-height: 24px;
  overflow: hidden;
  margin-bottom: 16px;
}
.branch__button-cotainer {
  width: 280px;
}
.branch__button {
  width: 100%;
  border: 0;
  padding: 9px 25px;
  border-radius: 8px;
  background-color: #EA8025;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.branch__pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 18px;
  width: 60px;
}
.branch__pagination-icon {
  color: #555;
}
.branch__img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.branch__img-container {
  border-radius: 8px;
  overflow: hidden;
}

.branch__pagination-icon--disabled {
  opacity: 0.3;
  cursor: default;
}

.story {
  background-color: #fff7e6;
  padding-bottom: 11%;
}
.story__header {
  text-align: center;
  padding-top: 40px;
}
.story__header span {
  font-size: 28px;
  font-weight: 600;
}

.blog__link {
  display: block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.blog__link::before {
  content: "";
  display: block;
  padding-top: 48%;
  position: relative;
}
.blog__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.blog__img:hover {
  transform: scale(1.1);
}
.blog__header-link {
  text-decoration: none;
  color: #000;
  display: inline-block;
}
.blog__header-text {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin: 24px 0;
  line-height: 1.4;
  padding-left: 12px;
  border-left: 4px solid #EA8025;
}
.blog__header-text:hover {
  color: #EA8025;
}
.blog__date {
  font-size: 14px;
  margin: 12px 0;
  color: rgba(0, 0, 0, 0.6);
}
.blog__title {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  font-size: 18px;
  line-height: 1.4;
  height: 26px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-bottom: 8px;
}
.blog__title-link {
  text-decoration: none;
  color: #000;
}
.blog__title-link:hover {
  color: #EA8025;
}
.blog__desript {
  font-size: 14px;
  line-height: 24px;
  max-height: 72px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.footer {
  width: 100%;
  padding: 34px 0 54px;
  background-color: #262626;
}
.footer__title {
  font-size: 14px;
  color: #fff;
  padding-bottom: 16px;
  font-weight: bold;
}
.footer__title-icon {
  color: #fff;
  font-size: 14px;
  margin-right: 8px;
}
.footer__list {
  list-style-type: none;
}
.footer__list-link {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  color: #fff;
  line-height: 24px;
}
.footer__list-items {
  padding: 8px 0;
}
.footer__social-img {
  width: 100%;
  height: 100%;
}

.footer__social-container-img {
  width: 270px;
  height: 130px;
  position: relative;
}

.footer__social-fanpage {
  position: absolute;
  top: 0;
  left: 5px;
  display: flex;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
}
.footer__social-fanpage-avatar {
  border: 3px solid #fff;
}
.footer__social-fanpage-link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  color: #fff;
}
.footer__social-fanpage-title:hover {
  border-bottom: 3px solid;
}
.footer__social-fanpage-text {
  color: #fff;
  margin-left: 4px;
}
.footer__social-fanpage-text p {
  font-size: 12px;
}

.footer__social-control {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  right: 5px;
  left: 5px;
}
.footer__social-control-btn {
  font-size: 12px;
  height: 22px;
  padding: 0 4px;
  cursor: pointer;
}
.footer__social-control-icon {
  margin-right: 4px;
}

.footer__socialapp {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.footer__socialapp-link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */